.div-label {
  font-size: 2.25vmin;
  margin-bottom: 0.1vmin;
}
.input-form-boxes {
  margin-top: 2vmin;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-form-boxes > div {
  width: 44%;
  font-size: 2vmin;
  margin-bottom: 3vmin;
  height: 100%;
}
