.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #191c24;
  border-radius: 0.75vmin;
  padding:4vmin;
  margin: 2vmin;
}
.container-main > h1 {
  font-size: 4vmin;
  color: white;
  margin-top: .75vmin;
  margin-bottom: 1.5vmin;
}
.container-main > p {
  font-size: 2.5vmin;
  margin-bottom:2.75vmin;
}



